body {
	margin-left: 50px;
	margin-right: 50px;
}

header {
	text-align: right;
}
nav {
	text-align: center;
}

article {
	text-align: center;
}

ul li{
	display: inline;
	margin-left: 20px;
	margin-right: 20px: 
}

table { 
	margin: 0px auto; 
}

form.odstup {
	margin-top: 30px;
}

form.nemovitosti {
	float: left;
	width: 50%;
	text-align: right;
}

table.nemovitosti {
	width: 50%;
	text-align: left;
}